# Dependencies
node_modules
.pnpm-store

# Build outputs
build
dist

# Version control
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE and editor files
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test coverage
coverage 