# Common environment variables
DOMAIN=local.trysourcetool.com

# Backend environment variables
ENCRYPTION_KEY=<encryption-key>
JWT_KEY=<jwt-key>

# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=sourcetool_development
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis configuration
REDIS_HOST=redis
REDIS_PASSWORD=password
REDIS_PORT=6379

# OAuth configuration
GOOGLE_OAUTH_CLIENT_ID=<google-oauth-client-id>
GOOGLE_OAUTH_CLIENT_SECRET=<google-oauth-client-secret>
GOOGLE_OAUTH_CALLBACK_URL=<google-oauth-callback-url>

# SMTP configuration
SMTP_HOST=<smtp-host>
SMTP_PORT=<smtp-port>
SMTP_USERNAME=<smtp-username>
SMTP_PASSWORD=<smtp-password>
SMTP_FROM_EMAIL=<smtp-from-email>

# Frontend environment variables
VITE_API_BASE_URL=local.trysourcetool.com:8080
VITE_DOMAIN=local.trysourcetool.com
